# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
.env

# trae

.trae/

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# python
**/__pycache__/
.pytest_cache/
output/
result_analyze/score_calculation.log
result_analyze/scores.json
result_analyze/report.html
result_analyze/create_config.py
result_analyze/reports
evaluation_summary_results/
configs/
*.egg-info/
src/output
dataset
update_weight.py
batch_update_configs.py
ktian_test.py

